.login-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-input-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20vh;

        input{
            height: 5vh;
            width: 20vw;

        }
    }
}